@page
@model IndexModel
@{
    ViewData["Title"] = "PrivateGist";
}
<div id="_antiForgeryHolder" style="display: none">
    @Html.AntiForgeryToken()
</div>
<app id="app"></app>

<script type="text/javascript" src="/app/js/bundle.js"></script>

@section Header {
    <link rel="stylesheet" href="/app/css/main.css">
}
